Repository LaraAReeves/UNSAM-Frontend, pull requests merged in 2024-11, with the labels that each got.

#8 Feature/estructura y ruteo
  package-lock.json
  package.json
  src/App.tsx
  src/components/pages/login/Login.tsx
  src/components/pages/main/Main.tsx
  src/components/pages/main/map/Map.tsx
  src/components/pages/notFound/NotFound.tsx
  src/components/pages/register/Register.tsx
  src/routes.tsx
Labels: component, feature, page

#10 Maquetado vista de registro.
  public/logo-unsam-largo.png
  src/components/pages/register/Register.tsx
  src/data/domain/User.ts
Labels: bug, component, page

#9 Vista Welcome
  public/fondo-tornavias.jpg
  public/logo-unsam-blanco.png
  src/components/pages/welcome/Welcome.tsx
  src/components/ui/TransparentContainer.tsx
  src/routes.tsx
Labels: component, page
